<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Taller Rayo Makween</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
      <link rel="stylesheet" href="{% static 'bootstrap-5.3.3/css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'css/navbar-admin.css' %}">
      <link rel="stylesheet" href="{% static 'css/admin-taller.css' %}">
  </head>

  <body>
  {# insertamos el navbar #}
  {% include "navbar-admin.html" %}

    <main>

        <div class="row">
                <h2>Todos los trabajos</h2>
                <table>
                <tr>
                    <th>Estado</th>
                    <th>Mecanico</th>
                    <th>Fecha</th>
                    <th>Auto</th>
                    <th>Diagnostico</th>
                    <th>Accion</th>
                </tr>

                {% for trabajo in trabajos %}
                    	<tr>
                            <td>
                                    {{ trabajo.revision }}
                            </td>
                            <td>{{ trabajo.mecanico }}</td>

                            <td>{{ trabajo.fecha_trabajo }}</td>
                            <td>{{ trabajo.auto }}</td>
                            <td>{{ trabajo.diagnostico }}</td>
                            <td>{{ trabajo.diagnostico }}</td>
                            <td>
                                <a href="{% url "admin-mecanico-vertrabajo" trabajo.id %}">
                                    <button class="btn btn-warning">Ver</button>
                                </a>
                            </td>

                        </tr>


                {% endfor %}


            </table>
            </div>
    </main>

    <!-- los script los cargamos al final -->
    <script src="{% static "bootstrap-5.3.3/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "jquery-3.2.1/jquery-3.2.1.min.js" %}"></script>
  </body>
</html>
